/.DS_Store
/about.html
/assets
/blog-single.html
/blog.html
/composer.json
/composer.lock
/contact.html
/gallery.html
/how-it-works.html
/index.html
/main.html
/organizer
/readme.txt
/server
/style.css
/user