.certificate-filter{
    border: solid, rgba(108, 117, 125, 0.75);
    color: rgba(108, 117, 125, 1);
    background-color: rgba(108, 117, 125, 0.20);
}

.certificate-filter.yes {
    border: solid, rgba(25, 135, 84, 0.75);
    color: rgba(25, 135, 84, 1);
    background-color: rgba(25, 135, 84, 0.20);
}

.certificate-filter.no {
    border: solid, rgba(220, 53, 69, 0.75);
    color: rgba(220, 53, 69, 1);
    background-color: rgba(220, 53, 69, 0.20);    
}

.activity-filter {
    border: solid, rgba(108, 117, 125, 0.75);
    color: rgba(108, 117, 125, 1);
    background-color: rgba(108, 117, 125, 0.20);
}

.activity-filter.yes {
    border: solid, rgba(25, 135, 84, 0.75);
    color: rgba(25, 135, 84, 1);
    background-color: rgba(25, 135, 84, 0.20);
}

.activity-filter.no {
    border: solid, rgba(220, 53, 69, 0.75);
    color: rgba(220, 53, 69, 1);
    background-color: rgba(220, 53, 69, 0.20);
}

.search-color {
    border: solid rgba(108, 117, 125, 0.75) 2px;
}

.search-color:focus {
    border: #495057 solid 2px;
}